:root {
    --textAreaHeight: 32px;
    --textAreaMaxHeight: 100px;
}

;


$parentContainerWidth: 100%;
$parentContainerHeight: auto;

$loginContainerPadding: 20px;

$mainContainerWidth: 40rem;
$mainContainerHeight: auto;
$mainContainerBorderRadius: 10px;
$textAreaWidth: 95%;
$textAreaHeight: var(--textAreaHeight);
$textAreaMinHeight: 24px;
$textAreaMaxHeight: var(--textAreaMaxHeight);
$textAreaPadding: 3px;
$textAreaFontSize: 15px;
$textAreaLineHeight: 20px;
$dropdownMinWidth: 75px;
$dropDownMaxWidth: 100px;
$sendButtonWidth: 70px;
$sendButtonHeight: 25px;

@mixin centerElement() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-space-between ($flex-width, $flex-dir: row) {
    display: flex;
    flex-direction: $flex-dir;
    justify-content: space-between;
    align-items: center;
    width: $flex-width;
}

@mixin button($border-color, $width: $sendButtonWidth, $height: sendButtonHeight) {
    width: $width;
    height: $height;
    outline: none;
    border: 1px solid $border-color;
    border-radius: $mainContainerBorderRadius;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

@mixin loginInputStyle() {
    width: 96.5%;
    height: 25px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
}

#parent {

    #loginContainer {
        #loginParent {
            @include centerElement();
            width: 16rem;
            border: 1px solid black;
            padding: $loginContainerPadding;

            #containerOne {
                @include flex-space-between(100%, column);

                #policeDiv {
                    position: relative;
                    #police {
                        width: inherit;
                        img {
                            width: 16rem;
                        }
                    }
                }

                #loginHeaders {
                    line-height: 1px;

                    span {
                        font-size: 14px;
                    }

                    margin-bottom: 10px;
                }

                #loginForm {
                    width: 100%;
                    position: relative;

                    @include flex-space-between(100%, column);
                    justify-content: center;
                    
                    #formContainer {
                        input.keyinput {
                            @include loginInputStyle();
                        }

                        input[type=submit] {
                            @include button(black, 90%, 30px);
                            justify-self: center;
                            margin: 15px 0;
                        }

                        .err {
                            font-size: 14px;
                            visibility: hidden;
                        }
                    }

                    #guestOptions {
                        button {
                            margin: 10px 0;
                            @include button(black, 100%, 30px);
                            padding: 10px;
                        }
                    }
                }
            }
        }

        ;
    }

    #mainContainer {
        display: none;

        width: $mainContainerWidth;
        height: $mainContainerHeight;
        border: 1px solid black;
        border-radius: $mainContainerBorderRadius;
        transition: all 0.2s ease;
        @include centerElement();

        #innerContainer {
            #inputContainer {
                #inputBox {

                    position: relative;

                    #inputChild {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 10px;

                        textarea {
                            margin-right: 21px;
                            width: $textAreaWidth;
                            height: $textAreaHeight;
                            min-height: $textAreaMinHeight;
                            max-height: $textAreaMaxHeight;
                            padding: $textAreaPadding;
                            outline: none;
                            overflow: hidden;
                            overflow-y: auto;
                            resize: none;
                            background: transparent;
                            font-size: $textAreaFontSize;
                            line-height: $textAreaLineHeight;
                            box-sizing: border-box;
                            border: none;
                            border-bottom: 1px solid black;
                        }
                    }
                }

                #toolBox {
                    position: relative;
                    margin: 15px;
                    @include flex-space-between(auto);

                    .pointer {
                        cursor: pointer;
                    }

                    #leftCompartment {
                        @include flex-space-between(35%);

                        .dropContainer {
                            select {
                                min-width: $dropdownMinWidth;
                                max-width: $dropDownMaxWidth;
                                overflow: hidden;
                                border: 1px solid black;
                                border-radius: $mainContainerBorderRadius;
                                padding: 4px;
                                outline: none;
                                background: transparent;
                                font-size: 14px;
                                // -webkit-appearance: none;
                            }
                        }
                    }

                    #rightCompartment {

                        @include flex-space-between(20%);

                        #fileContainer {

                            display: flex;
                            align-items: center;

                            label {
                                .attach-img {
                                    img {
                                        margin-top: 3px;
                                        width: 20px;
                                    }
                                }
                            }

                            .attach-count {
                                cursor: default;
                                font-size: 12.5px;
                            }

                            #attachment {
                                display: none;
                            }
                        }

                        #sendContainer {
                            button {
                                @include button(black);
                            }

                            .button-text {
                                color: black;
                            }

                            .button-img {
                                img {
                                    margin-top: 4px;
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}