:root {
  --textAreaHeight: 32px;
  --textAreaMaxHeight: 100px;
}

#parent #loginContainer #loginParent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
#parent #loginContainer #loginParent #containerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#parent #loginContainer #loginParent #containerOne .compartment {
  margin: 5px 50px;
}
#parent #loginContainer #loginParent #containerOne #policeDiv {
  position: relative;
}
#parent #loginContainer #loginParent #containerOne #policeDiv .intro-img-div .police {
  width: inherit;
}
#parent #loginContainer #loginParent #containerOne #policeDiv .intro-img-div .police img {
  width: 16rem;
}
#parent #loginContainer #loginParent #containerOne #policeDiv .error-img-div {
  display: none;
}
#parent #loginContainer #loginParent #containerOne #loginHeaders {
  line-height: 1px;
  margin-bottom: 10px;
}
#parent #loginContainer #loginParent #containerOne #loginHeaders span {
  font-size: 14px;
}
#parent #loginContainer #loginParent #containerOne #loginForm {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: center;
}
#parent #loginContainer #loginParent #containerOne #loginForm #formContainer input.keyinput {
  width: 96.5%;
  height: 25px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 15px;
}
#parent #loginContainer #loginParent #containerOne #loginForm #formContainer input[type=submit] {
  width: 90%;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  justify-self: center;
  margin: 15px 0;
}
#parent #loginContainer #loginParent #containerOne #loginForm #formContainer .err {
  font-size: 14px;
  visibility: hidden;
}
#parent #loginContainer #loginParent #containerOne #loginForm #guestOptions button {
  margin: 10px 0;
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 10px;
}
#parent #mainContainer {
  display: none;
  width: 40rem;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#parent #mainContainer #innerContainer #inputContainer #inputBox {
  position: relative;
}
#parent #mainContainer #innerContainer #inputContainer #inputBox #inputChild {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
#parent #mainContainer #innerContainer #inputContainer #inputBox #inputChild textarea {
  margin-right: 21px;
  width: 95%;
  height: var(--textAreaHeight);
  min-height: 24px;
  max-height: var(--textAreaMaxHeight);
  padding: 3px;
  outline: none;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  background: transparent;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox {
  position: relative;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox .pointer {
  cursor: pointer;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #leftCompartment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #leftCompartment .dropContainer select {
  min-width: 75px;
  max-width: 100px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  outline: none;
  background: transparent;
  font-size: 14px;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #fileContainer {
  display: flex;
  align-items: center;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #fileContainer label .attach-img img {
  margin-top: 3px;
  width: 20px;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #fileContainer .attach-count {
  cursor: default;
  font-size: 12.5px;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #fileContainer #attachment {
  display: none;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #sendContainer button {
  width: 70px;
  height: sendButtonHeight;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #sendContainer .button-text {
  color: black;
}
#parent #mainContainer #innerContainer #inputContainer #toolBox #rightCompartment #sendContainer .button-img img {
  margin-top: 4px;
  width: 20px;
}/*# sourceMappingURL=app.css.map */